In [1]:
import pandas as pd
import numpy as np

In [3]:
quiz1=pd.read_csv('quiz_1_grades.csv')

In [7]:
quiz2=pd.read_csv('quiz_2_grades.csv')
quiz3=pd.read_csv('quiz_3_grades.csv')
quiz4=pd.read_csv('quiz_4_grades.csv')
quiz5=pd.read_csv('quiz_5_grades.csv')

In [15]:
homework=pd.read_csv('hw_exam_grades.csv')

In [17]:
roster=pd.read_csv('roster.csv')

In [58]:
quiz2['Last Name']

0      Anderson
1        Flower
2         Smith
3         White
4       Delgado
         ...
145       Reyes
146      Dennis
147       Young
148     Elliott
149     Simpson
Name: Last Name, Length: 150, dtype: object

In [36]:
quiz1.rename(columns={'Grade':'quiz1'},inplace=True)
quiz2.rename(columns={'Grade':'quiz2'},inplace=True)
quiz3.rename(columns={'Grade':'quiz3'},inplace=True)
quiz4.rename(columns={'Grade':'quiz4'},inplace=True)
quiz5.rename(columns={'Grade':'quiz5'},inplace=True)

In [50]:
main=quiz1.merge(quiz2,left_on='Email',right_on='Email')

In [84]:
main=main[['Email','quiz1','quiz2']]

In [88]:
main=main.merge(quiz3,left_on='Email',right_on='Email')

In [90]:
main

                        Email  quiz1  quiz2 Last Name First Name  quiz3
0    richard.bennett@univ.edu     10      6   Bennett    Richard      9
1     timothy.parker@univ.edu      9     14    Parker    Timothy     13
2        carol.reyes@univ.edu      5     15     Reyes      Carol      8
3      brooke.powers@univ.edu      6     10    Powers     Brooke     17
4     michael.taylor@univ.edu      5     15    Taylor    Michael     13
..                        ...    ...    ...       ...        ...    ...
145    jeffrey.perez@univ.edu      4      7     Perez    Jeffrey     12
146    angela.dunlap@univ.edu      6     11    Dunlap     Angela     11
147  richard.elliott@univ.edu      6     13   Elliott    Richard     17
148     donna.nguyen@univ.edu      7     12    Nguyen      Donna     14
149  timothy.ramirez@univ.edu      4      8   Ramirez    Timothy     13

[150 rows x 6 columns]

In [92]:
main=main[['Email','quiz1','quiz2','quiz3']]

In [94]:
main=main.merge(quiz4,left_on='Email',right_on='Email')

In [96]:
main

                        Email  quiz1  quiz2  quiz3 Last Name First Name  quiz4
0    richard.bennett@univ.edu     10      6      9   Bennett    Richard      8
1     timothy.parker@univ.edu      9     14     13    Parker    Timothy     14
2        carol.reyes@univ.edu      5     15      8     Reyes      Carol     14
3      brooke.powers@univ.edu      6     10     17    Powers     Brooke     10
4     michael.taylor@univ.edu      5     15     13    Taylor    Michael     12
..                        ...    ...    ...    ...       ...        ...    ...
145    jeffrey.perez@univ.edu      4      7     12     Perez    Jeffrey     12
146    angela.dunlap@univ.edu      6     11     11    Dunlap     Angela     11
147  richard.elliott@univ.edu      6     13     17   Elliott    Richard     11
148     donna.nguyen@univ.edu      7     12     14    Nguyen      Donna      9
149  timothy.ramirez@univ.edu      4      8     13   Ramirez    Timothy      6

[150 rows x 7 columns]

In [98]:
main=main[['Email','quiz1','quiz2','quiz3','quiz4']]

In [100]:
main=main.merge(quiz5,left_on='Email',right_on='Email')

In [102]:
main

,Email,quiz1,quiz2,quiz3,quiz4,Last Name,First Name,quiz5
0,richard.bennett@univ.edu,10,6,9,8,Bennett,Richard,10
1,timothy.parker@univ.edu,9,14,13,14,Parker,Timothy,10
2,carol.reyes@univ.edu,5,15,8,14,Reyes,Carol,6
3,brooke.powers@univ.edu,6,10,17,10,Powers,Brooke,8
4,michael.taylor@univ.edu,5,15,13,12,Taylor,Michael,5
...,...,...,...,...,...,...,...,...
145,jeffrey.perez@univ.edu,4,7,12,12,Perez,Jeffrey,9
146,angela.dunlap@univ.edu,6,11,11,11,Dunlap,Angela,6
147,richard.elliott@univ.edu,6,13,17,11,Elliott,Richard,12
148,donna.nguyen@univ.edu,7,12,14,9,Nguyen,Donna,4
149,timothy.ramirez@univ.edu,4,8,13,6,Ramirez,Timothy,4

In [104]:
main=main[['Last Name','First Name','Email','quiz1','quiz2','quiz3','quiz4','quiz5']]

In [110]:
main

,Last Name,First Name,Email,quiz1,quiz2,quiz3,quiz4,quiz5
0,Bennett,Richard,richard.bennett@univ.edu,10,6,9,8,10
1,Parker,Timothy,timothy.parker@univ.edu,9,14,13,14,10
2,Reyes,Carol,carol.reyes@univ.edu,5,15,8,14,6
3,Powers,Brooke,brooke.powers@univ.edu,6,10,17,10,8
4,Taylor,Michael,michael.taylor@univ.edu,5,15,13,12,5
...,...,...,...,...,...,...,...,...
145,Perez,Jeffrey,jeffrey.perez@univ.edu,4,7,12,12,9
146,Dunlap,Angela,angela.dunlap@univ.edu,6,11,11,11,6
147,Elliott,Richard,richard.elliott@univ.edu,6,13,17,11,12
148,Nguyen,Donna,donna.nguyen@univ.edu,7,12,14,9,4
149,Ramirez,Timothy,timothy.ramirez@univ.edu,4,8,13,6,4

In [114]:
roster

,ID,Name,NetID,Email Address,Section
0,1234567,"Barrera Jr., Woody",WXB12345,WOODY.BARRERA_JR@UNIV.EDU,1
1,2345678,"Lambert, Malaika",MXL12345,MALAIKA.LAMBERT@UNIV.EDU,2
2,3456789,"Joyce, Traci",TXJ12345,TRACI.JOYCE@UNIV.EDU,1
3,4567890,"Flower, John Gregg",JGF12345,JOHN.G.2.FLOWER@UNIV.EDU,3
4,8406082,"Johnson, Stacy Michael",SMJ00936,STACY.JOHNSON@UNIV.EDU,2
...,...,...,...,...,...
145,5227994,"Johnson, Paul Mark",PMJ37756,PAUL.JOHNSON@UNIV.EDU,3
146,9804556,"Lee, Danielle Stephanie",DSL24347,DANIELLE.LEE@UNIV.EDU,3
147,1783442,"Edwards, Nicole",NXE44872,NICOLE.EDWARDS@UNIV.EDU,3
148,6345758,"Reyes, Bailey",BXR62103,BAILEY.REYES@UNIV.EDU,2
149,5566719,"Walls, Joyce",JXW53347,JOYCE.WALLS@UNIV.EDU,1

In [116]:
roster['Email Address']=roster['Email Address'].str.lower()

In [120]:
roster['NetID']=roster['NetID'].str.lower()

In [122]:
roster

,ID,Name,NetID,Email Address,Section
0,1234567,"Barrera Jr., Woody",wxb12345,woody.barrera_jr@univ.edu,1
1,2345678,"Lambert, Malaika",mxl12345,malaika.lambert@univ.edu,2
2,3456789,"Joyce, Traci",txj12345,traci.joyce@univ.edu,1
3,4567890,"Flower, John Gregg",jgf12345,john.g.2.flower@univ.edu,3
4,8406082,"Johnson, Stacy Michael",smj00936,stacy.johnson@univ.edu,2
...,...,...,...,...,...
145,5227994,"Johnson, Paul Mark",pmj37756,paul.johnson@univ.edu,3
146,9804556,"Lee, Danielle Stephanie",dsl24347,danielle.lee@univ.edu,3
147,1783442,"Edwards, Nicole",nxe44872,nicole.edwards@univ.edu,3
148,6345758,"Reyes, Bailey",bxr62103,bailey.reyes@univ.edu,2
149,5566719,"Walls, Joyce",jxw53347,joyce.walls@univ.edu,1

In [124]:
main=main.merge(roster,left_on='Email',right_on='Email Address')

In [134]:
main

,Last Name,First Name,Email,quiz1,quiz2,quiz3,quiz4,quiz5,ID,Name,NetID,Email Address,Section
0,Bennett,Richard,richard.bennett@univ.edu,10,6,9,8,10,5704583,"Bennett, Richard Jamie",rjb91830,richard.bennett@univ.edu,1
1,Parker,Timothy,timothy.parker@univ.edu,9,14,13,14,10,3091027,"Parker, Timothy",txp55047,timothy.parker@univ.edu,1
2,Reyes,Carol,carol.reyes@univ.edu,5,15,8,14,6,3049287,"Reyes, Carol",cxr98775,carol.reyes@univ.edu,3
3,Powers,Brooke,brooke.powers@univ.edu,6,10,17,10,8,4412160,"Powers, Brooke David",bdp78944,brooke.powers@univ.edu,1
4,Taylor,Michael,michael.taylor@univ.edu,5,15,13,12,5,1348888,"Taylor, Michael Ashley",mat59156,michael.taylor@univ.edu,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Perez,Jeffrey,jeffrey.perez@univ.edu,4,7,12,12,9,9975979,"Perez, Jeffrey",jxp06435,jeffrey.perez@univ.edu,3
146,Dunlap,Angela,angela.dunlap@univ.edu,6,11,11,11,6,6253243,"Dunlap, Angela",axd31221,angela.dunlap@univ.edu,2
147,Elliott,Richard,richard.elliott@univ.edu,6,13,17,11,12,6409860,"Elliott, Richard Gwendolyn",rge65208,richard.elliott@univ.edu,1
148,Nguyen,Donna,donna.nguyen@univ.edu,7,12,14,9,4,8786799,"Nguyen, Donna",dxn21936,donna.nguyen@univ.edu,1
149,Ramirez,Timothy,timothy.ramirez@univ.edu,4,8,13,6,4,3711195,"Ramirez, Timothy",txr84689,timothy.ramirez@univ.edu,3

In [205]:
main=main[['ID','NetID','Last Name','First Name','Email','quiz1','quiz2','quiz3','quiz4','quiz5','Section']]

In [207]:
main

,ID,NetID,Last Name,First Name,Email,quiz1,quiz2,quiz3,quiz4,quiz5,Section
0,5704583,rjb91830,Bennett,Richard,richard.bennett@univ.edu,10,6,9,8,10,1
1,3091027,txp55047,Parker,Timothy,timothy.parker@univ.edu,9,14,13,14,10,1
2,3049287,cxr98775,Reyes,Carol,carol.reyes@univ.edu,5,15,8,14,6,3
3,4412160,bdp78944,Powers,Brooke,brooke.powers@univ.edu,6,10,17,10,8,1
4,1348888,mat59156,Taylor,Michael,michael.taylor@univ.edu,5,15,13,12,5,2
...,...,...,...,...,...,...,...,...,...,...,...
145,9975979,jxp06435,Perez,Jeffrey,jeffrey.perez@univ.edu,4,7,12,12,9,3
146,6253243,axd31221,Dunlap,Angela,angela.dunlap@univ.edu,6,11,11,11,6,2
147,6409860,rge65208,Elliott,Richard,richard.elliott@univ.edu,6,13,17,11,12,1
148,8786799,dxn21936,Nguyen,Donna,donna.nguyen@univ.edu,7,12,14,9,4,1
149,3711195,txr84689,Ramirez,Timothy,timothy.ramirez@univ.edu,4,8,13,6,4,3

In [209]:
homework

,First Name,Last Name,SID,Homework 1,Homework 1 - Max Points,Homework 1 - Submission Time,Homework 2,Homework 2 - Max Points,Homework 2 - Submission Time,Homework 3,...,Homework 10 - Submission Time,Exam 1,Exam 1 - Max Points,Exam 1 - Submission Time,Exam 2,Exam 2 - Max Points,Exam 2 - Submission Time,Exam 3,Exam 3 - Max Points,Exam 3 - Submission Time
0,Aaron,Lester,axl60952,68.0,80,2019-08-29 08:56:02-07:00,74,80,2019-09-05 08:56:02-07:00,77,...,2019-10-31 08:56:02-07:00,79,100,2019-10-08 12:30:07-07:00,63,100,2019-11-08 12:30:07-07:00,68,100,2019-12-08 12:30:07-07:00
1,Adam,Cooper,amc28428,80.0,80,2019-08-29 08:56:02-07:00,78,80,2019-09-05 08:56:02-07:00,78,...,2019-10-31 08:56:02-07:00,65,100,2019-10-08 12:30:07-07:00,63,100,2019-11-08 12:30:07-07:00,90,100,2019-12-08 12:30:07-07:00
2,Alec,Curry,axc64717,69.0,80,2019-08-29 08:56:02-07:00,76,80,2019-09-05 08:56:02-07:00,66,...,2019-10-31 08:56:02-07:00,65,100,2019-10-08 12:30:07-07:00,78,100,2019-11-08 12:30:07-07:00,83,100,2019-12-08 12:30:07-07:00
3,Alexander,Rodriguez,akr14831,50.0,80,2019-08-29 08:56:02-07:00,54,80,2019-09-05 08:56:02-07:00,74,...,2019-10-31 08:56:02-07:00,97,100,2019-10-08 12:30:07-07:00,97,100,2019-11-08 12:30:07-07:00,81,100,2019-12-08 12:30:07-07:00
4,Amber,Daniels,axd11293,54.0,80,2019-08-29 08:56:02-07:00,57,80,2019-09-05 08:56:02-07:00,77,...,2019-10-31 08:56:02-07:00,68,100,2019-10-08 12:30:07-07:00,95,100,2019-11-08 12:30:07-07:00,88,100,2019-12-08 12:30:07-07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Travis,Washington,txw75701,64.0,80,2019-08-29 08:56:02-07:00,67,80,2019-09-05 08:56:02-07:00,56,...,2019-10-31 08:56:02-07:00,94,100,2019-10-08 12:30:07-07:00,74,100,2019-11-08 12:30:07-07:00,68,100,2019-12-08 12:30:07-07:00
146,Troy,Raymond,tbr17292,50.0,80,2019-08-29 08:56:02-07:00,59,80,2019-09-05 08:56:02-07:00,79,...,2019-10-31 08:56:02-07:00,91,100,2019-10-08 12:30:07-07:00,67,100,2019-11-08 12:30:07-07:00,100,100,2019-12-08 12:30:07-07:00
147,Victoria,Boyd,vkb66346,58.0,80,2019-08-29 08:56:02-07:00,61,80,2019-09-05 08:56:02-07:00,75,...,2019-10-31 08:56:02-07:00,68,100,2019-10-08 12:30:07-07:00,93,100,2019-11-08 12:30:07-07:00,69,100,2019-12-08 12:30:07-07:00
148,William,Daniel,wad63934,48.0,80,2019-08-29 08:56:02-07:00,60,80,2019-09-05 08:56:02-07:00,72,...,2019-10-31 08:56:02-07:00,84,100,2019-10-08 12:30:07-07:00,91,100,2019-11-08 12:30:07-07:00,95,100,2019-12-08 12:30:07-07:00
149,Woody,Barrera,wxb12345,55.0,80,2019-08-29 08:56:02-07:00,62,80,2019-09-05 08:56:02-07:00,73,...,2019-10-31 08:56:02-07:00,86,100,2019-10-08 12:30:07-07:00,62,100,2019-11-08 12:30:07-07:00,90,100,2019-12-08 12:30:07-07:00

In [211]:
main=main.merge(homework,left_on='NetID',right_on='SID')

In [213]:
main

,ID,NetID,Last Name_x,First Name_x,Email,quiz1,quiz2,quiz3,quiz4,quiz5,...,Homework 10 - Submission Time,Exam 1,Exam 1 - Max Points,Exam 1 - Submission Time,Exam 2,Exam 2 - Max Points,Exam 2 - Submission Time,Exam 3,Exam 3 - Max Points,Exam 3 - Submission Time
0,5704583,rjb91830,Bennett,Richard,richard.bennett@univ.edu,10,6,9,8,10,...,2019-10-31 08:56:02-07:00,66,100,2019-10-08 12:30:07-07:00,97,100,2019-11-08 12:30:07-07:00,88,100,2019-12-08 12:30:07-07:00
1,3091027,txp55047,Parker,Timothy,timothy.parker@univ.edu,9,14,13,14,10,...,2019-10-31 08:56:02-07:00,73,100,2019-10-08 12:30:07-07:00,93,100,2019-11-08 12:30:07-07:00,66,100,2019-12-08 12:30:07-07:00
2,3049287,cxr98775,Reyes,Carol,carol.reyes@univ.edu,5,15,8,14,6,...,2019-10-31 08:56:02-07:00,99,100,2019-10-08 12:30:07-07:00,91,100,2019-11-08 12:30:07-07:00,90,100,2019-12-08 12:30:07-07:00
3,4412160,bdp78944,Powers,Brooke,brooke.powers@univ.edu,6,10,17,10,8,...,2019-10-31 08:56:02-07:00,77,100,2019-10-08 12:30:07-07:00,87,100,2019-11-08 12:30:07-07:00,90,100,2019-12-08 12:30:07-07:00
4,1348888,mat59156,Taylor,Michael,michael.taylor@univ.edu,5,15,13,12,5,...,2019-10-31 08:56:02-07:00,91,100,2019-10-08 12:30:07-07:00,68,100,2019-11-08 12:30:07-07:00,66,100,2019-12-08 12:30:07-07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,9975979,jxp06435,Perez,Jeffrey,jeffrey.perez@univ.edu,4,7,12,12,9,...,2019-10-31 08:56:02-07:00,67,100,2019-10-08 12:30:07-07:00,81,100,2019-11-08 12:30:07-07:00,95,100,2019-12-08 12:30:07-07:00
146,6253243,axd31221,Dunlap,Angela,angela.dunlap@univ.edu,6,11,11,11,6,...,2019-10-31 08:56:02-07:00,82,100,2019-10-08 12:30:07-07:00,64,100,2019-11-08 12:30:07-07:00,92,100,2019-12-08 12:30:07-07:00
147,6409860,rge65208,Elliott,Richard,richard.elliott@univ.edu,6,13,17,11,12,...,2019-10-31 08:56:02-07:00,66,100,2019-10-08 12:30:07-07:00,64,100,2019-11-08 12:30:07-07:00,74,100,2019-12-08 12:30:07-07:00
148,8786799,dxn21936,Nguyen,Donna,donna.nguyen@univ.edu,7,12,14,9,4,...,2019-10-31 08:56:02-07:00,70,100,2019-10-08 12:30:07-07:00,87,100,2019-11-08 12:30:07-07:00,64,100,2019-12-08 12:30:07-07:00
149,3711195,txr84689,Ramirez,Timothy,timothy.ramirez@univ.edu,4,8,13,6,4,...,2019-10-31 08:56:02-07:00,84,100,2019-10-08 12:30:07-07:00,69,100,2019-11-08 12:30:07-07:00,87,100,2019-12-08 12:30:07-07:00

In [223]:
main=main.fillna(0)

In [229]:
columns_to_sum=['quiz1','quiz2','quiz3','quiz4','quiz5','Homework 1','Homework 2','Homework 3','Homework 4','Homework 5','Homework 6','Homework 7','Homework 8','Homework 9','Homework 10','Exam 1','Exam 2','Exam 3']

In [231]:
main['total Mark']=main[columns_to_sum].sum(axis=1)

In [247]:
quiz5.max()

Last Name                         Young
First Name                        Woody
Email         woody.barrera_jr@univ.edu
quiz5                                12
dtype: object

In [252]:
main['Max Marks']=1200

In [257]:
main['Percentage']=(main['total Mark']/main['Max Marks'])*100

In [263]:
main['Percentage'].max()

81.58333333333333

In [313]:
main.loc[main['Percentage']>65,'Grade']='C'

In [315]:
main.loc[main['Percentage']>72,'Grade']='B'

In [317]:
main.loc[main['Percentage']>78,'Grade']='A'

In [327]:
main.head(20)

,ID,NetID,Last Name_x,First Name_x,Email,quiz1,quiz2,quiz3,quiz4,quiz5,...,Exam 2,Exam 2 - Max Points,Exam 2 - Submission Time,Exam 3,Exam 3 - Max Points,Exam 3 - Submission Time,total Mark,Max Marks,Percentage,Grade
0,5704583,rjb91830,Bennett,Richard,richard.bennett@univ.edu,10,6,9,8,10,...,97,100,2019-11-08 12:30:07-07:00,88,100,2019-12-08 12:30:07-07:00,908.0,1200,75.666667,B
1,3091027,txp55047,Parker,Timothy,timothy.parker@univ.edu,9,14,13,14,10,...,93,100,2019-11-08 12:30:07-07:00,66,100,2019-12-08 12:30:07-07:00,882.0,1200,73.500000,B
2,3049287,cxr98775,Reyes,Carol,carol.reyes@univ.edu,5,15,8,14,6,...,91,100,2019-11-08 12:30:07-07:00,90,100,2019-12-08 12:30:07-07:00,934.0,1200,77.833333,B
3,4412160,bdp78944,Powers,Brooke,brooke.powers@univ.edu,6,10,17,10,8,...,87,100,2019-11-08 12:30:07-07:00,90,100,2019-12-08 12:30:07-07:00,895.0,1200,74.583333,B
4,1348888,mat59156,Taylor,Michael,michael.taylor@univ.edu,5,15,13,12,5,...,68,100,2019-11-08 12:30:07-07:00,66,100,2019-12-08 12:30:07-07:00,798.0,1200,66.500000,C
5,7250041,bmb94857,Bailey,Belinda,belinda.bailey@univ.edu,6,10,9,14,4,...,95,100,2019-11-08 12:30:07-07:00,87,100,2019-12-08 12:30:07-07:00,917.0,1200,76.416667,B
6,6936009,mxs29840,Stevens,Marcia,marcia.stevens@univ.edu,7,15,17,10,12,...,99,100,2019-11-08 12:30:07-07:00,83,100,2019-12-08 12:30:07-07:00,947.0,1200,78.916667,A
7,1866225,kxf45205,Faulkner,Katelyn,katelyn.faulkner@univ.edu,6,12,17,14,6,...,60,100,2019-11-08 12:30:07-07:00,61,100,2019-12-08 12:30:07-07:00,842.0,1200,70.166667,C
8,7474490,wad63934,Daniel,William,william.daniel@univ.edu,9,10,10,9,5,...,91,100,2019-11-08 12:30:07-07:00,95,100,2019-12-08 12:30:07-07:00,881.0,1200,73.416667,B
9,3774708,dxj78877,Johnson,Dylan,dylan.johnson@univ.edu,6,9,15,5,10,...,64,100,2019-11-08 12:30:07-07:00,99,100,2019-12-08 12:30:07-07:00,821.0,1200,68.416667,C
10,8190682,sxt33634,Thomas,Sandra,sandra.thomas@univ.edu,9,10,14,8,4,...,62,100,2019-11-08 12:30:07-07:00,96,100,2019-12-08 12:30:07-07:00,873.0,1200,72.750000,B
11,2546149,rxs30280,Saunders,Richard,richard.saunders@univ.edu,10,8,15,12,12,...,93,100,2019-11-08 12:30:07-07:00,64,100,2019-12-08 12:30:07-07:00,805.0,1200,67.083333,C
12,4682582,tmo55387,Ortega,Tiffany,tiffany.ortega@univ.edu,7,8,15,14,12,...,82,100,2019-11-08 12:30:07-07:00,62,100,2019-12-08 12:30:07-07:00,843.0,1200,70.250000,C
13,7046482,bxs54690,Schwartz,Billy,billy.schwartz@univ.edu,11,12,11,10,9,...,62,100,2019-11-08 12:30:07-07:00,93,100,2019-12-08 12:30:07-07:00,846.0,1200,70.500000,C
14,4912187,sxv18182,Vasquez,Sara,sara.vasquez@univ.edu,5,7,8,6,5,...,73,100,2019-11-08 12:30:07-07:00,75,100,2019-12-08 12:30:07-07:00,836.0,1200,69.666667,C
15,7485180,asm59771,Martin,Ashley,ashley.martin@univ.edu,5,7,8,13,11,...,72,100,2019-11-08 12:30:07-07:00,68,100,2019-12-08 12:30:07-07:00,842.0,1200,70.166667,C
16,3137156,oxr30270,Rush,Oscar,oscar.rush@univ.edu,5,14,7,5,5,...,80,100,2019-11-08 12:30:07-07:00,66,100,2019-12-08 12:30:07-07:00,815.0,1200,67.916667,C
17,7187270,jxw98212,Walsh,Jill,jill.walsh@univ.edu,6,13,6,9,4,...,99,100,2019-11-08 12:30:07-07:00,78,100,2019-12-08 12:30:07-07:00,838.0,1200,69.833333,C
18,1735079,thh29195,Hernandez,Taylor,taylor.hernandez@univ.edu,11,12,14,5,9,...,83,100,2019-11-08 12:30:07-07:00,98,100,2019-12-08 12:30:07-07:00,871.0,1200,72.583333,B
19,9204701,amc28428,Cooper,Adam,adam.cooper@univ.edu,4,10,16,7,12,...,63,100,2019-11-08 12:30:07-07:00,90,100,2019-12-08 12:30:07-07:00,896.0,1200,74.666667,B

In [335]:
section=main.groupby('Section')

In [337]:
section.size()

Section
1    56
2    51
3    43
dtype: int64

In [347]:
mask1=main['Section']==1

In [363]:
Section1=main[mask1]

In [375]:
Section1.shape

(56, 57)

In [369]:
Section3=main[main['Section']==3]

In [373]:
Section2.shape

(51, 57)

In [377]:
Section3.shape

(43, 57)

In [379]:
Section1.to_csv('Section_A.csv',index=False)

In [381]:
Section2.to_csv('Section_B.csv',index=False)

In [383]:
Section3.to_csv('Section_C.csv',index=False)